td,th {
	font-family: monospace;
	padding: 4px;
}


form label {
    float:left; 
    text-align: right;
    width: 150px;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

input{
    display: inline-block;
    float: left;
}
#PlayArea {
	border: 1px dotted blue;
	padding: 6px;
	background-color: #ccc;
	margin-right: 50%;
}

#items_table {
	border: 1px dotted blue;
	padding: auto;
	margin-top: 10px ;
        margin-bottom: 100px;
	margin-right: 50%;
        background-color: #ccc;
}

#items_table h2 {
	font-size: 18px;
	margin-top: 0px;
	font-family: sans-serif;
}