/*
CSS David Banks
*/

* {margin: 0; padding: 0;}
 
#container {
    height: 350px;
    overflow: hidden;
    margin: 50px auto;
    background: black;
}
 
/*photobanner*/
 
.photobanner {
    height: 295px;
    width: 3550px;
    margin-bottom: 80px;
}

/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
.photobanner img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
 
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
.mainmarvel {
    margin: auto;
    text-align: center;
}
#indexmovie {
	position: relative;
	top: -15px;
	right: 310px;
}

#section {
  float: left;
  width: 50%;
}

#banner {
    padding: 0px;
    margin: 0px;
    height: 400px;
    width: 800px;
    background-image: url("header-logo.jpg");
	background-position: center center;
	background-repeat: no-repeat;

}

body {
    width: 800px;
    margin: auto;
	background-color: black;

}


section#main{

  float: left;
  margin: 0;
  padding: 0;
  display: inline;     
}

.movie-poster-p1 {
	width:351px;
	height:500px; 
	margin-left: 26.5%;  
	padding:8px;
	border:8px solid blue	;
	background-color: #6E6E6E	; 
}

.movie-poster-p2 {
	width:351px;
	height:500px; 
	margin-left: 26.5%; 
	padding:8px;
	border:8px solid  #ABABAB;
	background-color: #8F0000	; 
}

.movie-poster-p3 {
	width:351px;
	height:500px; 
	margin-left: 26.5%; 
	padding:8px;
	border:8px solid  #FF8C00		;
	background-color: #A9A9A9		; 
}

#p3timeline {
	width:792px;
	height:443px;
	margin-left: 0%;
	padding:8px;
	border:8px solid  #FF8C00		;
	background-color: #A9A9A9		; 
}

#p1headerpic{
	border:8px solid blue	;
	background-color: #6E6E6E	; 
}

#p2headerpic{
	border:8px solid  #ABABAB	;
	background-color: #8F0000 	; 
}

#p3headerpic {
	border:8px solid  #FF8C00	;
	background-color: white	;
}

#origins-main{
	height: 300px;
	width: 500px;
	border:8px solid yellow ;
	background-color: black	; 
}

.origins {
	width:351px;
	height:500px;
	text-align: center;
	margin-left: 26.5%;
	margin-bottom: 0.5em;
	padding:8px;
	border:8px solid  yellow		;
	background-color: black		; 
}

.origins-h1 {
	text-align: center;
}

#mcutv{
	border: 8px solid white;
	background-color: black;
}

#mcutv1{
	border: 8px solid white;
	background-color: black;
}

#movie-trailer {
	float: right;
	margin:0;
	padding: 0;
	width: 48%;

}

#login {
	float: right;
	margin:0;
	padding: 0;
	width: 48%;

}
.h1{
color: white;
}
.h2{
	color: white;
	text-align: center;
}

.h3{
color: red;
}

.origins-videos {
	text-align: center;
}

#titlepic {
	width: 507px;
	height: 147px;
	margin-left: 17%;
	}

#commentdiv {
    text-align: left;
    margin: auto;
    width: 80%;
}

#contact {
	text-align: center;
}

footer {
    clear: both;
    text-align: center;
	background-color: green;

}

nav {
    text-align: center;
	font-size: 25px; 
	background-color: green;

}

nav ul {
    display: inline;
    padding: 0px;
    text-align: center;
}

nav li {
    display: inline;
    padding: 0px 7px;
}
input[type=text]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
input[type=text]:focus
{
  width: 100px;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}
input[type=password]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
input[type=password]:focus
{
  width: 100px;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}


.item {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.item:first-child { margin-left: 0; }

.item a:link {
   text-decoration: none;
}

.item img {
    max-width: 100%;
}

.item figure {
    margin: 5px;
}

.itemfigure figure {
    position: relative;
}

.itemfigure img {
    display: block;
    margin: auto;
}

.itemfigure figcaption {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    margin: 0px;
    font-size: smaller;
    text-align: center;
}

.itemfigure figcaption h2 {
    padding:0px;
    margin:0px;
    font-style: italic;
}

#itemdetails {
    text-align: center;
    margin: auto;
}

#header { width: 100% }
.gallery {
    width: 100%;
    clear: both;
    padding: 0px;
    margin: 0px;
}

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}

/*  GRID OF THREE  */
.span_1 {
	width: 30%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 800px){
    .span_1 {
        width: 45%;
    }
    
    #banner {
        height: 148px;
        width:480px;
        background-image: url('/images/logo-medium.png');
        background-repeat: no-repeat;
    }
    
    body {
        width: 480px;
    }
}

@media only screen and (max-width: 480px) {
	.span_1 {
		width: 100%;
	}
    
    #banner {
        padding: 0px;
        margin: 0px;
        height: 77px;
        width: 400px;
        background-image: url('/images/logo-small.png');
        background-repeat: no-repeat;
    }
    
    body {
        width: 400px;
    }

}
